:root {

  --primary-bg: #1b1c1d;
  --primary: #c5c5c5;
}

.App {
  transition: color 2s ease;
}
div.ui.segment {
  margin: 0px;
  border-radius: 0px; 

}
.App .ui.button {
  color: var(--primary);
  background: var(--primary-bg);
}

button.ui.button:hover {
  color: var(--primary);
  background: var(--primary-bg);
  opacity: .7;
}
 ul {
   list-style: none;
   padding: 0; 
   margin: 0;
 }

 .custom-form.ui.form .field>label {
   color: #FFF;
   font-size: 1.2em;
 }

 .custom-form.ui.form input[type="text"], .custom-form.ui.form input[type="email"], .custom-form.ui.form textarea, .custom-form.ui.form select{
   color: #FFF;
   background: #1b1c1dbe;
 }

.App .ui.dimmer {
  position: fixed;
}

 /* CONTACT SUCCESS AND ERROR */

 .success {
   text-align: center;
   height: 0px;
   opacity: 0;
   transition: all .25s ease-out;
 }

 
 .success h3 {
   font-size: 32px;
   color: rgb(151, 37, 204);
 }

 .error {
  text-align: center;
  height: 0px;
  opacity: 0;
  transition: all .25s ease-out;
 }

 .error h3 {
   font-size: 32px;
   color: red;
 }
 .show {
  height: 140px;
  opacity: 1;
}
